<div class="container">

    <h3>Publisher Details</h3>
    <br>
    <br>
        <p>Name: <%= @publisher.name %> </p>
    <br>
    <br>
        <p>Country: <%= @publisher.country %> </p>
    <br>
    <br>

</div>