<div class="container">

    <h2>Author List</h2>

    <table border="1" class="table">
        <tr>
            <th>Forename</th>
            <th>Surname</th>
            <th>Biography</th>
            <th>Author Page</th>
        </tr>

        <% @authors.each do |author| %>

        <tr>
            <td><%= author.fname%></td>
            <td><%= author.lname%></td>
            <td><%= author.bio%></td>
            <td><%= link_to 'Author Page', author_path(author) %></td>
        </tr>
        <% end %>
    </table>
    
</div>