<div class="container">

    <h3>Author Details</h3>

    <p>Forename: <%= @author.fname %> </p>
    <br>
    <br>
    <p>Surname: <%= @author.lname %> </p>
    <br>
    <br>
    <p>Biography: <%= @author.bio %> </p>
    <br>
    <br>

</div>