<div class="container">
<h1 class="jumbotron-heading">Album example</h1>
    <div class="container">
    <div class="row">
        <div class="col">
        <p> text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text</p>
        </div>
        <div class="col">
        <p>text text texttext text texttext text texttext text texttext text texttext text texttext text text </p>
        </div>
    </div>
</div>