<div class="container">

    <h2>Genre List</h2>

    <table border="1" class="table">
        <tr>
            <th>Genre</th>
            <th>Genre Page</th>
        </tr>

        <% @genres.each do |genre| %>

        <tr>
            <td><%= genre.name%></td>
            <td><%= link_to 'Genre Page', genre_path(genre) %></td>
        </tr>
        <% end %>
    </table>
    
</div>